function Main.main 9
push constant 22
pop local 0
push constant 44
pop local 1
push local 0
push local 1
call BasicArithmetic.adderTWO 2
pop local 2
push local 0
push local 1
push local 2
call BasicArithmetic.adderTHREE 3
pop local 3
push local 0
push local 1
push local 2
call BasicArithmetic.multTHREE 3
pop local 4
push local 0
push local 1
push local 2
call BasicArithmetic.multTHREEParenthese 3
pop local 5
push local 0
push local 1
push local 2
call BasicArithmetic.divideTHREE 3
pop local 6
push local 0
push local 1
push local 2
call BasicArithmetic.subtractTHREE 3
pop local 7
push local 7
call Output.printInt 1
pop temp 0
push constant 0
return
